.chatbotOpenDiv {
    color: #585858;
    padding: 0px;
    border: none;
    cursor: pointer;
    opacity: 1;
    position: fixed;
    max-width: 100px;
    height: auto;
    z-index: 1;
    width: 55px;
    height: 55px;
    text-align: center;
    top: calc(100vh - 63px);
    left: calc(100% - 60px);
    animation-duration: 0.9s;
    animation-timing-function: cubic-bezier(0.12, 0.15, 0.18, 1.25) ease-in-out;
    animation-name: slideIn;
    background-image: url('https://chatbot-qa.exela.global/icons/new-icon-white.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    filter: drop-shadow(2px 2px 2px #b0b0b0);
}     
.chatbotOpenDiv img {
    padding: 0px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
    transition: all 0.9s ease-in-out;
    margin: 5px 0px 0 -2px;
    outline: none;
}
.chatbotOpenDiv:hover img{
    transition: 0.9s;
    transform: rotateY(180deg);
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}